<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<h2>Add a Lesson</h2>
	<form action="addLesson" method="post">
		<label>Course Id : </label>
		<input type="text" name="course" placeholder="enter the course Id" >
		<br><br>
		<label>Lesson Id : </label>
		<input type="text" name="lessonId" placeholder="enter the Lesson Id" >
		<br><br>
		<label>Lesson Name : </label>
		<input type="text" name="lessonName" placeholder="enter the lesson name" >
		<br><br>
		<label>Lesson Topics : </label>
		<input type="text" name="topics" placeholder="enter the topics" >
		<br><br>
		<label>Lesson Video : </label>
		<input type="text" name="link" placeholder="enter the video link" >
		<br><br>
		<input type="submit" value='ADD LESSON' >
	</form>
</body>
</html>